@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato:wght@100;400;700&family=Montserrat&family=Open+Sans:wght@500&family=Poppins:ital,wght@1,300&family=Rajdhani:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* UTILITIES */
.center {
  text-align: center;
}

.white {
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* CUSTOM STYLES FOR THE NAV */
@media (min-width: 768px) {
  #navbarNav {
    width: 80%;
    display: flex;
    justify-content: flex-end;
  }

  ul {
    width: 30%;
  }
}

/* NAV CUSTOM STYLES */
nav {
  background-color: black;
  color: white;
}

/* CUSTOM STYLES FOR THE SECTION */
#style-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: auto;
  gap: 10px;
  padding: 10px 120px;
  margin-top: 60px;
}

.style-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.style-items img {
  width: 80px;
  height: 80px;
}

.small--div {
  width: 70%;
  padding: 10px;
}

footer {
  background-color: black;
  color: white;
  margin-top: 30px;
}

footer section {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px;
}

ul li {
  list-style-type: none;
}
